/*-------------------------------------------- Преимущества */
.benefits {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-left: auto;
    margin-right: auto;
  }
  .benefits-list {
    display: flex;
  }

  .benefits__text {
    font-size: 14px;
    line-height: 1.71;
  }
  
  
  .benefits-list__item {
    width: 270px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  
  .benefits__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primery-text-color); 
    margin-bottom: 10px;
  }
  
  
  .benefits-list__icon {
    background-color: #f5f4fa;
    margin-bottom: 30px;
    border-radius: 4px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hero + .benefits {
    padding-bottom: 0px;
  }