.footer {
    background-color: var(--secondary-background-color);
    color: var(--main-light-color-text);
    display: block;
  
    padding-bottom: 64px;
    padding-top: 64px;
    margin-left: auto;
    margin-right: auto;
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      @media screen and(min-width:768px){
        display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: baseline;
      justify-content: center;
    }
    }
    @media screen and(min-width:768px){

    }
  }
  .section-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 64px;
    @media screen and(min-width:768px){
      margin-bottom: 60px;
    }
    @media screen and(min-width:1200px){
      margin-left: 0px;
      margin-bottom: 0px;
      align-items: flex-start;
    }
  }
  .footer-social { 
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and(min-width:768px){
      margin-left:165px;
    }
    @media screen and(min-width:1200px){
      margin-left: 70px;
      align-items: flex-start;
    }
  }
  .footer-social__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    margin-bottom: 20px;
    
    color: var(--main-light-color-text);
  }
  
  .footer-social__list {
    display: flex;
    list-style: none;
  }
  
  .footer-social__list__item:not(:last-child) {
    margin-right: 10px;
  }
  
  .footer-social__list__link{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  svg{
    fill: var(--main-light-color-text);
  }
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
  }
  
  .icon-send{
    fill: var(--main-light-color-text);
    position: absolute;
    top: 22%;
  }
  
  
  
  /* подписка */
  .subscription{
   
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 63px;
    @media screen and(min-width:768px){
      margin-top: 0px;
    }
    @media screen and(min-width: 1200px){
margin-left: 93px;
align-items: flex-start;
    }
  }
  .subscription__box{
    
    @media screen and(min-width: 1200px){
      display: flex;
          }
  }
  .subscription__inp{
    padding-left: 16px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    
    width: 290px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 33px;
    color: var(--main-light-color-text);
    &:focus{
      outline: none;
    }
    @media screen  and(min-width:480px){
      width: 450px;
      
    }
    @media screen  and(min-width:1200px){
      width: 358px;}
  }

  .subscription__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: var(--main-light-color-text);
  }
  
  .subscription__btn{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color: var(--main-light-color-text);
    display: flex;
    height: 50px;
    width: 200px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  &:hover,
  &:focus{
    color: var(--main-light-color-text);
    background-color: var(--color-hero-bt-hover);
  }
  @media screen  and(min-width:1200px){
    margin-left: 12px;
    margin-right:0px ;
   }
  }
  
  .subscription__ikon{
    margin-left: 10px;
  }
  
  

  
  /*------------------------------------Адресс */
  .address-mob{
    display: flex;
      flex-direction: column;
      align-items: center;
      @media screen  and(min-width:1200px){
        align-items: flex-start;
      }

  }
  .city-address {
    font-size: 14px;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-light-color-text);
  
    margin-bottom: 9px;

    margin-left: auto;
    margin-right: auto;
  }